*.class

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
*.hprof

.gradle
gradle.properties

*.lck
*.1
*.2
*.log
.mine*
/externalgames
NVIDIA
minecraft-exported-crash-info*
xyml-exported-logs-*
terracotta-log-*
xyml-addon-update-list-*
*.xyml-theme
/.java/
/.local/
/.cache/

# IANA Language Subtag Registry
language-subtag-registry

# gradle build
/build/
/XYML/build/
/XYMLCore/build/
/XYMLBoot/build/
/minecraft/libraries/XYMLTransformerDiscoveryService/build/
/minecraft/libraries/XYMLMultiMCBootstrap/build/
/buildSrc/build/
/libraries/**/build/
/libraries/**/.gradle/
/libraries/**/out/

# idea
.idea
/out/
/XYML/out/
/XYMLCore/out/
/minecraft/libraries/XYMLTransformerDiscoveryService/out/
/minecraft/libraries/XYMLMultiMCBootstrap/out/

# eclipse
/bin/
/XYML/bin/
/XYMLBoot/bin/
/XYMLCore/bin/
/minecraft/libraries/XYMLTransformerDiscoveryService/bin/
/minecraft/libraries/XYMLMultiMCBootstrap/bin/
.classpath
.project
.settings

# netbeans
.nb-gradle

*.exe
!libraries/XYMLL/fallback/XYMLL.exe

# macos
.DS_Store

# vscode
.vscode/

# test
/xyml.json
/.xyml.json
/.xyml/

# AI
/.gemini/
!/.gemini/config.yaml
.codex
/.gradle-*/
